/* all pages logo and nav syling */
.container{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.container .logo{
    margin: 0%;
    padding: 0;
}
.container .nav{
    width: 100%;
}
.container .nav .item{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 2%;
}
.container .nav .item li{
    list-style: none;
    padding: 0 3px;
}
.container .nav .item li a{
    text-decoration: none;
    padding: 5px 20px;
    background: none;
    color: black;
    border: 1px solid transparent;
    transition: 0.6s ease all;
}
.container .nav .item li a:hover{
    background: black;
    color: white;
}
.container .nav .item li a.checked{
    background: black;
    color: white;
}
/*all pages logo and nav styling (end)*/

/* all pages footer */
footer{
  background-color: white;
}
.footerContainer{
  width: 100%;
  padding: 20px 30px 20px;
}
.socialIcons{
  display: 100%;
  margin-left: 40.5%;
}
.socialIcons a{
  text-decoration: none;
  padding: 10px;
  background-color: white;
  margin: 10px;
  border-radius: 100%;
}
.socialIcons a i{
  font-size: 2em;
  opacity: 0.8;
}
.footerBottom{
  background-color: whitesmoke;
  padding: 20px;
  text-align: center;
}
.designer{
  opacity: 0.7;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 0px 5px;
}

/* The fonts etc */
body {
    background: #c0c0c0;
  }
  p {
    color: #777;
    font-size: 0.86rem;
    line-height: 1.rem;
  }
  a, a:link, a:visited, a:hover, a:active { 
    color: #778;
  }
  h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    color: #000;                                         
    margin-bottom: 15px;
    margin-top: 0;
  }
  .margin-m-left-0 {margin-left: 0 !important;}
      .margin-m-left-10 {margin-left: 10px !important;}
      .margin-m-left-15 {margin-left: 15px !important;} 
      .margin-m-left-20 {margin-left: 20px !important;} 
      .margin-m-left-30 {margin-left: 30px !important;} 
      .margin-m-left-40 {margin-left: 40px !important;}
      .margin-m-left-50 {margin-left: 50px !important;}
      .margin-m-left-60 {margin-left: 60px !important;}
      .margin-m-left-70 {margin-left: 70px !important;}
      .margin-m-left-80 {margin-left: 80px !important;}
      .margin-m-right-0 {margin-right: 0 !important;}
      .margin-m-right-10 {margin-right: 10px !important;}
      .margin-m-right-15 {margin-right: 15px !important;} 
      .margin-m-right-20 {margin-right: 20px !important;} 
      .margin-m-right-30 {margin-right: 30px !important;} 
      .margin-m-right-40 {margin-right: 40px !important;}
      .margin-m-right-50 {margin-right: 50px !important;}
      .margin-m-right-60 {margin-right: 60px !important;}
      .margin-m-right-70 {margin-right: 70px !important;}
      .margin-m-right-80 {margin-right: 80px !important;}
      
      .text-m-size-12,.text-m-size-16,.text-m-size-20,.text-m-size-25,.text-m-size-30,.text-m-size-40,.text-m-size-50,.text-m-size-60,.text-m-size-70,.text-m-size-80,.text-m-size-90.text-m-size-100 {line-height: 1.4;}
      .text-m-size-12 {font-size: 12px !important;}
      .text-m-size-16 {font-size: 16px !important;}
      .text-m-size-20 {font-size: 20px !important;}
      .text-m-size-25 {font-size: 25px !important;}
      .text-m-size-30 {font-size: 30px !important;}
      .text-m-size-40 {font-size: 40px !important;}
      .text-m-size-50 {font-size: 50px !important;}
      .text-m-size-60 {font-size: 60px !important;}
      .text-m-size-70 {font-size: 70px !important;}    
      .text-m-size-80 {font-size: 80px !important;}
      .text-m-size-90 {font-size: 90px !important;}
      .text-m-size-100 {font-size: 100px !important;}    
      
      
  /* Containers */ 
  .section  { 
    padding: 7rem 1.25rem;
  }
  .section-top-padding  { 
    padding: 7rem 1.25rem 0  1.25rem;
  }
  .section-block { 
    padding: 7rem 2.5rem;
  }
  .section-block-2x { 
    padding: 7rem 5rem;
  }
  .text-padding {
    display: inline-block !important;
    padding: 15px 20px;
  }
  .text-padding-small {
    display: inline-block !important;
    padding: 7px 10px;
  }               
  .margin-left-150 {
    margin-left: 150px;
  }
  .margin-top-130 {
    margin-top: 130px!important;
  }
   body, p, li, a { 
    font-weight: 400;
    font-family: "Barlow"; 
    font-size: 0.95rem;  
  } 
  .background-white, .background-white p, a.background-white, .background-white a, .background-white a:link, .background-white a:visited, .background-white a:hover, .background-white a:active {
    color: #999;
  }
  h1, .h1 {
    font-weight: 100;
    font-family: "Barlow";
    font-size: 50px;
  }
  h2, h3, h4, h5, h6, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 400;
    font-family: "Barlow";
  }
  .text-extra-thin {font-weight: 100;}
  .text-thin {font-weight: 300;}
  b, strong, .text-strong {font-weight: 700;}
  .text-extra-strong {font-weight: 800;}
  
  .text-drop-cap {
    font-size: 75px;
    line-height: 55px;
    padding-right: 10px;
    padding-top: 10px;
    font-weight: 700;
    color: #454545;
  }
  nav {
    border-bottom: 0;
    padding: 25px 0;
    position: relative;
    z-index: 2;
  }
  .logo img {
    margin: 0;
    width: 203px;
    position: relative;
  }
  .top-nav li {
    padding: 1.5rem 0;
  } 
  .top-nav li a {
    color: #fff;
    font-weight: 700;
    padding: 1rem 1.3rem;
    position: relative;
    text-transform: uppercase;
    font-size: 0.9rem;
    transition: all 0.20s linear 0s;
  -o-transition: all 0.20s linear 0s;
  -ms-transition: all 0.20s linear 0s;
  -moz-transition: all 0.20s linear 0s;
  -webkit-transition: all 0.20s linear 0s;
  } 
  
  .top-nav ul ul {
    background: #fff none repeat scroll 0 0;
  }
  .top-nav li ul li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  }
  .top-nav li ul li:last-child {
    border-bottom: 0;
  }
  .top-nav li ul li a, .background-white .top-nav li ul li a, .top-nav .active-item li a {
    background: #fff none repeat scroll 0 0;
    color: rgba(0,0,0, 0.75);
  }
  
  
  
  
  